<section class="container relative z-50">
  <div class="text-center px-20 mt-14 w-full  mx-auto">
    <p> Clipes é um aplicativo para compartilhar seus clipes de jogos. </p>
    <p class="">Podem ser jogadas suas, de seus amigos ou até mesmo uma jogada incrível ou engraçada de alguém com quem você jogou!</p>
    <br>
    <p class="">Clipes é um projeto Com uma interface simples e intuitiva, é fácil carregar seus vídeos em nosso site e compartilhá-los com amigos, familiares e outros usuários da plataforma. Além disso, você pode personalizar suas configurações de privacidade para que seus vídeos sejam visualizados apenas por pessoas específicas ou pelo público em geral. Então, se você deseja compartilhar seus vídeos com o mundo, não perca mais tempo! Venha fazer parte da nossa comunidade de criadores de conteúdo e mostrar suas habilidades de como jogar.<p>
  </div>

</section>
<h1 class="uppercase text-center text-4xl grid mt-20 mb-8 items-center gap-8 tracking-widest latest">Autor</h1>
<section class="container mx-auto flex gap-5 ">

  <div class="flex flex-col justify-start items-center text-center w-full mx-auto">
    <div class="border border-blue-300 shadow rounded-md p-4 w-[500px] mx-auto">
      <div class=" flex space-x-4">
        <img class="card-img-top w-[180px]" src="../../assets/img/author_img.png"
          alt="Foto do Autor do site, Rafael Lima" />
        <div class="flex-1 space-y-6 py-1">
          <div class="space-y-3">
            <p>Olá!! Meu nome é Ederson Paixão e sou desenvolvedor full-Stack😁</p>
            <p>Por favor, sinta-se livre para fornecer feedback para mim em:</p>
            <div class="flex w-52 h-10 justify-start align-middle">
              <a href="https://www.linkedin.com/in/ederson-paix%C3%A3o-a14051242/">
                <img width="48" src="../../assets/img/linkedin_svg.svg" alt="linkedin logo">
              </a>
              <a href="https://github.com/edersonpaixao21">
                <img width="48" class="svg_filter" src="../../assets/img/github_svg.svg" alt='github logo' />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
